*.h5ad
*.h5
*.loom
*.rds
*.RData
*.Rds
*.tsv
*.tab
*.mtx
*.gz
*.bz2
*.zip
*.tar
*.tar.gz
*.bam
*.bai
*.fastq
*.fq
*.fasta
*.fa
*.sam
*.vcf

*.ckpt
*.pkl
*.pickle
*.npz
*.mat
*.joblib

*.svg
*.eps
*.tif
*.jpg
*.jpeg
output/
figures/
plots/
results/
log/
logs/

venv/
env/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
Pipfile
Pipfile.lock
poetry.lock

# Jupyter / Notebook
.ipynb_checkpoints/
*.dSYM/
.vscode/
.idea/
*.swp
*.swo
*~
*.pth
*.npy


.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
Thumbs.db

# middle output
draw/*/images/